body {
	margin : 1em;
	background-color: black;
	color : white;
}

button {
    width: 8em;
    height: 2.5em;
    padding: 0.5em;
    background-color: darkslategrey;
    color: white;
    border: none;
    border-radius: 0.5em
}

#maze {
    letter-spacing: .5em;
    width: fit-content;
    background-color: black;
    padding: .8em .6em 1em 1em;
    border-color: darkslategrey;
    border-width: 1em;
    border-style: solid;
    border-radius: 0.5em;
    color: lawngreen;
    transition: color .25s ease-in-out;
}

#maze.danger {
    color: orangered;
}
