/* don't allow copy-paste of content.  it messes up key capture */
* {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

body {
    font-size : 14px;
	margin : 1rem;
	background-color: black;
	color : #ccc;
    line-height: 1.3;
}

#maze {
    letter-spacing: 2px;
    background-color: #1e1e1e;
    color: lawngreen;
    transition: color .15s ease-in-out;
    width: fit-content;
    padding: 0.4rem 0.2rem 0.4rem 0.6rem;
    line-height: 1rem;
}

#maze.danger {
    color: orangered;
}

#maze.paused {
    color: grey;
}


.button {
    display : inline-block;
    border-width: .15rem;
    border-style: solid;
    padding : .4rem;
    height : 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: #ddd;
    color: #ddd;
}

.button.fixed {
    width: 9rem;
}

.button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.button:active {
    transform: translateY( 0.25rem);
}

fieldset {
    padding: 0rem 0.75rem 0rem 1rem;
    border-width: .15rem 0 0 0;
    border-style: solid;
    border-color: #ddd;
    min-width: 18rem;
}

fieldset.mapview {
    text-align: -webkit-center;
}

#stats div>span:nth-child(1) {
    width: 8rem;
    display: inline-block;
    -webkit-animation: bounce .5s ease-out;
    -moz-animation: bounce .5s ease-out;
    animation: bounce .5s ease-out;
}

#stats div>span:nth-child(2) {
    width: 4rem;
    text-align: right;
    display: inline-block;
    font-family: monospace;
    -webkit-animation: bounce .5s ease-out;
    -moz-animation: bounce .5s ease-out;
    animation: bounce .5s ease-out;
}

#messagelog div {
    -webkit-animation: bounce .5s ease-out;
    -moz-animation: bounce .5s ease-out;
    animation: bounce .5s ease-out;
}

#messagelog div:nth-child(n+10) {
    opacity:65%;
}

#messagelog div:nth-child(n+13) {
    opacity:35%;
}

.achievements {
    color: gold;
}

legend {
    font-size: larger;
    width: inherit;
    padding: 0px .5rem;
    margin-bottom: 0px;
    margin-left: 0rem;
    text-align: center;
}

.hidden {
    visibility:hidden;
    display:none;
}

/* Webkit, Chrome and Safari */
@-webkit-keyframes bounce {
	0% {-webkit-transform:translateX(-2rem);}
	25% {-webkit-transform:translateX(2rem);}
	50% {-webkit-transform:translateX(-1rem);}
	75% {-webkit-transform:translateX(1rem);}
	100% {-webkit-transform:translateX(0);}
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
	0% {-moz-transform:translateX(-2rem);}
	25% {-moz-transform:translateX(2rem);}
	50% {-moz-transform:translateX(-1rem);}
	75% {-moz-transform:translateX(1rem);}
	100% {-moz-transform:translateX(0);}
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
	0% {transform:translateX(-2rem);}
	25% {transform:translateX(2rem);}
	50% {transform:translateX(-1rem);}
	75% {transform:translateX(1rem);}
	100% {transform:translateX(0);}
}
